<h3>Choose a new password</h3>
<div class="col-md-4 col-md-offset-4 panel panel-default">
  <%= form_for @user, :url => password_reset_path(@token), :html => {:method => :put} do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :email %>
      <p class="form-control-static"><%= @user.email %></p>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
    <%= f.submit "Update", class: "btn btn-primary" %>
  <% end %>
</div>