<h3>Contact Info</h3>

<div class="panel panel-default col-md-4 col-md-offset-4">
  <%= form_for(current_user, url: {action: "contact_info_update"}) do |f| %>
    <% if current_user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% current_user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :street_address %>
      <%= f.text_field :street_address, class: 'form-control'  %>
    </div>
    <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control'  %>
    </div>
    <div class="form-group">
       <%= f.label :province %>
       <%= f.text_field :province, class: 'form-control'  %>
    </div>    
    <div class="form-group">
       <%= f.label :country %>
       <%= f.text_field :country, class: 'form-control'  %>
    </div>
    <div class="form-group">
       <%= f.label :postal_code %>
       <%= f.text_field :postal_code, class: 'form-control'  %>
    </div>  
    <%= f.submit "Submit", class: "btn btn-default" %>
  <% end %>
</div>