<% if current_user.membership_expiration.present? && current_user.membership_expiration > Time.now && current_user.auto_renew == true %>
  <div class="alert alert-success">
    Your membership will auto-renew on <%= current_user.membership_expiration.strftime("%B #{current_user.membership_expiration.day.ordinalize}, %Y") %>. If you'd like to cancel please <a href="mailto:thepacificclub@gmail.com">email us</a>.
  </div>
<% elsif current_user.membership_expiration.present? && current_user.membership_expiration > Time.now && current_user.auto_renew == false %>
  <div class="alert alert-success">
    Your membership will expire on <%= current_user.membership_expiration.strftime("%B #{current_user.membership_expiration.day.ordinalize}, %Y") %>. But don't worry, we'll email you as soon as it does so you can renew.
  </div>

<% else %>
  <% @plans.each do |p| %>
    <div class="col-md-<%= @size %>  col-md-offset-<%= @offset %> panel panel-default">
      <h3><%= p.name %></h3>
      <h4><%= number_to_currency(p.price / 100) %></h4> per year
      <%= form_tag("/subscribe", method: "post") do %>
        <%= hidden_field_tag(:plan_id, p.id) %>
        <%= hidden_field_tag(:plan_stripe_id, p.plan_stripe_id) %>
        <div class="purchase-button">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= ENV["STRIPE_KEY"] %>"
            data-panel-label="Complete Purchase"
            data-label="Purchase"
            data-allow-remember-me="false"
            data-name="The Pacific Club"
            data-description="<%= p.name %>"
            data-amount="<%= p.price %>"
            data-email="<%= current_user.email %>"
            data-locale="auto">
          </script>
        </div>
        <div>
          Auto-renew Membership <%= check_box_tag "auto_bill", true, true %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>